<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora all posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h2 class="username">@<%= post.username %></h2>
            <h4 class="Content"><%= post.Content %></h4>
        </div>
        <% } %>
    <a href="http://localhost:<%= process.env.YOUR_PORT || port%>/posts/new">create a post</a>
    
</body>
</html>